<html>
    <head>
        <title>Website Search Weather</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <h3 id="desc">{{desc}}</h3>

        <form id="form1">
            <input type="text" id="address" placeholder="Enter Your Country">
            <button>Search For Weather</button>
        </form>
        <div id="div1">
            <p id="location"></p>
            <p id="latitude"></p>
            <p id="longitude"></p>
            <p id="forecast"></p>
        </div>
        <p id="error"></p>

        <script src="js/script.js"></script>

    </body>
</html>